

   
  /* .logo {

    height: 40px;
    width: 120px;
    background-image: url('./vendors/logo2.jpeg');
    background-size: contain;
    
}  */
  .body{
    background-color:  rgb(197, 207, 207);
  }

.Header{
    background-color: rgb(178, 192, 192) ;
    z-index: 999999;
}
.search-icon{

    transform: translatex(-210%);
}

.navbar-search{
    flex-grow: 1;
    border-radius: 20px;
}

.sign-up{
    
    
}
.login-form{
    background-color: rgb(155, 163, 163);
    height: 420px;
    width: 500px;
}
.input-form{
    background-color: rgb(155, 163, 163);
    
}
.close-outline{
    display: none;
    visibility: hidden;
}
.navbar-icon{
   display: none;
}

.toggle-body{
    display: none;
}

.user-dropdown{
    top: 10;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    gap: 4;
    background-color: rgb(176, 189, 189) ;
    color: black;
    padding: 1rem;
    margin-top: 0.5rem;
    z-index: 999999999;

}

/* .heros-one{
    background-image: url(./vendors/Fashion.jpeg);
    width: 900px;
    height: 400px;
    background-size: cover;
} */

.main-footar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   padding-bottom: 2rem;

}

.about{

    text-align: center;
    margin-right: 2rem;
}
.services{
    text-align: center;
    margin-right: 2rem;
}
.contact{
    
}
.reserved{
    background-color:  rgb(155, 163, 163);
    color: black;

}
.Top-deals{
    background-color: rgba(223, 224, 224, 0.473);
}
@media screen and (max-width:576px) { 
    
    .navbar-icon{
        margin-right: 1rem;
        display: block;
        visibility: visible;
        color: black;
    }
    .logo{
        padding-left: 1rem;
        display: flex;
    }

    .main-nav{
       display: flex;
    }
    .navbar-search{ 
    
        display: none;
        visibility: hidden;
        
    }
    .search-icon{
      display: none;
      visibility: hidden;
    }
    
    .categories{
        display: none;
        width: 50vh;
        height: 75vh;
        background-color: rgb(178, 192, 192);
        color: black;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 2rem;
        gap: 5;
        transition: all ease-in 0.ms;
    }


    .close-outline{
       display: block;
       visibility: visible;
    }
    .main-footar{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .about{
        
        padding-bottom: 1.5rem;
        
    }
    .services{
          padding-bottom: 1.5rem;
    }
    .contact{

        padding-bottom: 1.5;
        text-align: center;
    }
}

.dashboard{
    text-align: center;
    color: black;
    margin: 3rem;
    border: 1px solid black;
    padding: 2rem;
}